/* reset.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./asset/image/accueil-2-0x0.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  background-attachment: fixed;
  font-family: "roboto mono";
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* header */

header {
  max-width: 100%;
  height: 89px;
}

/* partie nav  */

nav {
  margin-top: 25px;
  margin: 23px;
  position: relative;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 1px #31acb5;
  /* border-bottom:  1px solid #000; */
  background-color: rgba(255, 255, 255, 0.948);
}

/* logo  */

.logo {
  display: flex;
  gap: 23px;
}

/* img nave  */

.logo img {
  margin-left: 45px;
  align-items: center;
  width: 60px;
  height: 30px;
  box-shadow: 0px px 0px 0px;
}

/* nave p  */

.logo .text-logo {
  font-family: "roboto mono";
  display: flex;
  align-items: center;
  font-size: 18px;
  position: relative;
  right: 35px;
  color: #06b136;
}

/* liens nav  */

nav .link {
  display: flex;
  font-family: "roboto mono";
  font-size: 15px;
  margin-right: 45px;
  font-weight: bold;
  margin: 5px;
  align-items: center;
}

.link_nave {
  color: #0839d8;
  text-decoration: none;
  margin: 15px;
}

.link_nave:hover {
  color: #06b136;
  box-shadow: #06b136;
}


.links_nave {
  color: #000000;
  text-decoration: none;
  margin: 15px;
}

.links_nave:hover {
  color: #06b136;
  box-shadow: #06b136;
}

/* parents section  */

.section_div {
  margin-bottom: 25%;
  display: flex;
 
}

/* titre h1  */

.titre {
  font-size: 18px;
}

/* parent div  */

.ome {
  margin: auto;
  background-color: #af4d4d;
  height: 500px;
  width: 25%;
  border-radius: 8px;
}



/* liste  */

.liste {
  display: flex;
  list-style: none;
  text-align: center;
}

.img_p {
  width: 2%;
  height: 145px;
  position: relative;
  top: 100px;
}

/* partie main  */

main {
  background: linear-gradient(#ffffff00, #33558100, #ffffff);
  font-family: "roboto mono";
  width: 100%;
  height: 300px;
  display: flex;
  padding-top: 200px;
  flex-direction: column;
  gap: 23px;
  text-align: center;
}

/* main hi  */

h1 {
  color: #000;
  display: flex;
  font-size: 70px;
  margin: auto;
  justify-content: center;
  font-weight: bold;
}

/* main text  */

p {
  font-size: 20px;
  display: flex;
  margin: auto;
}

/* parent button du bas  */

.parent_cta {
  display: flex;
  background-color: #07110e;
  margin: 50%;
  position: relative;
  bottom: 650px;
  justify-content: center;
  gap: 23px;
}

/* main button du bas   */

.button {
  width: 189px;
  height: 45px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #06b136;
  border-radius: 8px;
  cursor: pointer;
  background-color: #06b136;
  margin-bottom: 12px;
  font-size: 18px;
}

.button2 {
  transform: scale(0.9);
  width: 189px;
  height: 45px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1050540;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f1050528;
  margin-bottom: 12px;
  font-size: 18px;
}

.button2:active {
  transform: scale(0.9);
}

/* button du haut  */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border: 1px solid #06b136;
  border-radius: 8px;
  cursor: pointer;
  background-color: #06b136;
  font-size: 12px;
}

/* première section  */

.section1 {
  display: flex;
  flex-direction: column;
  background-color: #00000079;
}

/* image première section  */
img{
  width: 100%;
  height: 150px;
}

/* premier title type A propos  */

.titre1 {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #000;
  width: 195px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 5px;
  align-items: center;
  background-color: #14b25646;
}

.titre1:hover {
  background-color: #000;
  color: #fff;
}

/* button de la première section  */

.cta {
  position: relative;
  bottom: 110px;
  left: 625px;
  width: 100px;
}

/* .parent_titre1 */

.parent_titre1 {
  margin-top: 35px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

hr {
  position: relative;
  bottom: 100px;
  background-color: #0000005d;
}

/* paragraphe de la première section  */

.text0 {
  display: flex;
  font-size: 18px;
  position: relative;
  bottom: 45px;
  left: 25px;
  width: 50%;
  height: 300px;
  margin-top: 45px;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}

/* deuxième title type services*/

.titre2 {
  display: flex;
  width: 195px;
  border-radius: 25px;
  border: 1px solid #000;
  padding: 5px;
  justify-content: center;
  position: relative;
  left: 570px;
  bottom: 40px;
  font-size: 18px;
  background-color: #14b25646;
}

/* .text_services  */

.text_services {
  gap: 75px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 100px;
}

.parent_section{
  background: linear-gradient(#0a0a0a57, #3ecece57, #00000057);
  width: 225px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 145px;
  padding: 3%;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px #000000;
}
.parent_section:hover{
  box-shadow: 2px 2px 2px 2px #06b136;
}

h6 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.text1 {
  font-size: 14px;
  margin: auto;
  width: 250px;
  height: 250px;
  margin-top: 30px;
  background-color: #ffffffa9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 200px;
}

/* button services  */

.button_services{
  position: relative;
  bottom: 2px;
  left: 25px;
  display: flex;
  margin-top: 30%;
}

/* liste nave bare déroulant */

.none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.none > li {
  position: relative;
  padding: 10px;
  color: #0056b3;
  cursor: pointer;
}

.nones {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.none > li:hover .nones {
  display: block;
}

.nones > li {
  padding: 10px;
  color: black;
}

.nones > li:hover {
  background-color: #ddd;
}

.image_services{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 36px;
  position: relative;
  top: 50px;
  left: 400px;
}

.text1:hover {
  box-shadow: 1px 2px 4px 2px #06b136;
}

.titre2:hover {
  background-color: #000;
  color: #fff;
}

.rendez {
  text-decoration: none;
}

button:hover {
  background-color: #3c2edf;
  box-shadow: #7baca0;
  color: #fff;
  box-shadow: 1px 1px 2px 2px;
}

/* section 2  */

.première {
  display: flex;
  height: 600px;
  width: 100%; 
  justify-content: center;
  background-color: #00000006;

}

.liste_section2{
  font-size: 24px;
  justify-content: center;
  list-style: none;
  color: #fff;
  padding: 10px;
  
}

.doc {
  width: 100%;
  height: 800px;
  margin-top: 200px;
}

/* partie form  */

.contact-form {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  right: 50px;
  margin: 0 10px;
  padding: 0 10px;
}

input,
textarea {
  width: 75%;
  padding: 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  left: 123px;
}

.com {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
 position: relative;
 left: 10%;
 
}

.ctb {
  position: relative;
  left: 123px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 23px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
}

.formulaire {
  position: relative;
  left: 160px;
  bottom: 125px;
  background-color: #dbe0e452;
  margin: 0 15%;
  height: 400px;
  margin-top: 30%;
  border-radius: 8px;
  width: 50%;
  display: flex;
  justify-content: center;
  
}

button:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

/* partie footer  */

footer {
  margin-top: 70px;
  display: flex;
  width: 100%;
  height: 200px;
  background-color:#06b136;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 20px;
  align-items: center;
}

.réseaux {
  width: 45px;
  height: 23px;
  margin-right: 23px;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
    transition: 2ms;
  }
}

.img3 {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
  object-fit: cover;
  padding-top: 30px;
  margin-left: 25px;
}

.footer_p {
  font-family: "roboto mono";
  color: white;
  padding-top: 145px;
  font-size: 10px;
  position: relative;
  right: 250px;
  margin-right: 200px;
}

.link0 {
  color: #fff;
  text-decoration: none;
  margin-bottom: 140px;
  font-size: 12px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  right: 145px;
  top: 120px;
}

.link0:hover {
  text-decoration: underline;
}

.im2{
  display: none;
}

@media  screen and (min-width: 393px) and (max-width: 480px){
  .link .link_nave{
    display: none;
  }

  .link .none .dashboard{
    display: none;
  }

  .im2{
    display: block;
    width: 23px;
    height: 23px;
  }

  h1{
    font-size: 300%;
  }

  main p{
    font-size: 18px;
    padding: 10px;
  }

  .button{
    position: relative;
    top: 450px;
  }

  .text0{
    width: 300px;
    height: 400px;
    font-size: 15px;
    padding: 19px;
    position: relative;
    bottom: 80px;
  }
} 